# Default ignored files
/../../Day 28 - Pomodoro /.idea/shelf/
/../../Day 28 - Pomodoro /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Day 28 - Pomodoro /.idea/httpRequests/
# Datasource local storage ignored files
/../../Day 28 - Pomodoro /.idea/dataSources/
/../../Day 28 - Pomodoro /.idea/dataSources.local.xml
